#!/bin/bash

# BorgBackup Script

# Variables
BORG_REPO="{{ borg_repo }}"
BORG_PASSPHRASE="{{ borg_passphrase }}"
BACKUP_SOURCE="{{ backup_source }}"
BACKUP_TARGET="{{ backup_target }}"

# Export passphrase for Borg
export BORG_PASSPHRASE

# Create backup
borg create --verbose --stats --progress \
    $BORG_REPO::$BACKUP_TARGET \
    $BACKUP_SOURCE

# Prune old backups
borg prune --list $BORG_REPO --keep-daily=7 --keep-weekly=4 --keep-monthly=6

# Unset passphrase
unset BORG_PASSPHRASE