{% for repo in dnf_repos_list %}
[{{ repo.name | lower }}]
name={{ repo.name_long | default(repo.name) }}
{% if repo.mirrorlist is defined -%}
mirrorlist={{ repo.mirrorlist }}
{% endif %}
{% if repo.baseurl is defined -%}
baseurl={{ repo.baseurl }}
{% endif %}
enabled={{ repo.enabled | default('1') }}
countme={{ repo.countme | default('1') }}
metadata_expire={{ repo.metadata_expire | default('6h') }}
gpgcheck={{ repo.gpgcheck | default('0') }}
{% if repo.gpgcheck | default('0') | int == 1 and repo.gpgkey is defined -%}
gpgkey={{ repo.gpgkey }}
{% endif %}
cost={{ repo.cost | default('100') }}

{% endfor %}
